<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Persona juridica:</strong>
    <%= cliente.persona_juridica %>
  </p>

  <p>
    <strong>Nro doc:</strong>
    <%= cliente.nro_doc %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= cliente.telefono %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= cliente.empresa_id %>
  </p>

</div>
