<div id="<%= dom_id proyecto %>">
  <p>
    <strong>Codigo:</strong>
    <%= proyecto.codigo %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= proyecto.fecha_inicio %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= proyecto.nombre %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= proyecto.valor %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= proyecto.descripcion %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= proyecto.cliente_id %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= proyecto.estatus_id %>
  </p>

</div>
