<div id="<%= dom_id empresa %>">
  <p>
    <strong>Nombre:</strong>
    <%= empresa.nombre %>
  </p>

  <p>
    <strong>Rif:</strong>
    <%= empresa.rif %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= empresa.telefono %>
  </p>

  <p>
    <strong>City:</strong>
    <%= empresa.city_id %>
  </p>

</div>
