<p style="color: green"><%= notice %></p>

<%= render @empresa %>

<div>
  <%= link_to "Edit this empresa", edit_empresa_path(@empresa) %> |
  <%= link_to "Back to empresas", empresas_path %>

  <%= button_to "Destroy this empresa", @empresa, method: :delete %>
</div>
<h2>Clientes</h2>

<% if @empresa.clientes.any? %>
	<ul>
		<% @empresa.clientes.each do |clien| %>
		<li><%= link_to clien, clien %></li> 
		<% end %>
	</ul>
<% else %>
	<p>No hay Clientes</p>
<% end %>
